/* ==========================================================================
   Masthead
   ========================================================================== */

.masthead {
  padding-top: 40px;
  background: $base-color;
  @include clearfix;
  @include media($medium) {
    margin-top: 0;
  }
  .wrap {
    text-align: center;
    background: $base-color;
  }
}

/*
   Site logo
   ========================================================================== */

.site-logo {
  img {
    width: 100px;

    @include animation-duration(1s);
    @include animation-delay(.05s);

    @include media($medium) {
      width: 150px;
    }

    @include media($large) {
      width: 200px;
    }
  }
}

/*
   Site title/name
   ========================================================================== */

.site-title {
  margin-top: 0;
  margin-bottom: 0;
  background:$body-color;
  a {
    color: $black;
  }
}

/*
   Site description text
   ========================================================================== */

.site-description {
  margin:auto;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 1em;
  padding-bottom: 2em;

  font-family: $alt-font;
  font-weight: lighter;
  color:white;
  font-size: 14px;
  max-width:350px;

  @include media($medium) {
    font-size: 16px;
  }
}
